<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RESTful Creatures</title>
</head>
<body>
    <header>Creatures from Long Ago...</header>
    <nav>
        <ul>
            <li><a href="/">Home Page</li>
            <li><a href="/dinosaurs">Dinosaurs</li>
            <li><a href="/prehistoric_creatures">Prehistoric Creatures</a></li>
        </ul>        
    </nav>
    <%- body %>
</body>
</html>