<h1> You are editing this creature: <%= creatureId %></h1>
<form method="POST" action="/prehistoric_creatures/<%= creatureId %>/?_method=PUT"> 
    <label for="creatureType">Type</label>    
    <input type="text" name="type" id="creatureType" value="<%= creature.type %>">
    <label for="creatureImg_url">IMG URL</label>    
    <input type="text" name="img_url" id="creatureImg_url" value="<%= creature.img_url %>">
</form>