<h1>Add A New Creature!</h1>
<form action="/prehistoric_creatures" method="POST"> 
    <label for="creatureType">Type</label>
    <input type="text" name="type" id="creatureType">
    <label for="creatureImg_url">Img URL</label>
    <input type="text" name="img_url" id="creatureImg_url">
    <input type="submit">
</form>