<h1>Add A New Dino!</h1>
<form action="/dinosaurs" method="POST"> 
    <!-- action: link is where the input/data will be entered to  -->
    <label for="dinosaurType">Type</label>
    <input type="text" name="type" id="dinosaurType">

    <label for="dinosaurName">Name</label>
    <input type="text" name="name" id="dinosaurName">
    <input type="submit">
</form>
<!-- 
In a form, the METHOD attribute and the ACTION attribute 
tell the app WHICH route to send the form data to once the 
form has been submitted. 
METHOD <==> the HTTP verb (GET OR POST) 
ACTION<==>the URL pattern for the route that we've written to deal with the form data (aka payload) -->